.app-container {
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 20vw;
  padding-right: 20vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  color: white;
  background-color: #150b3e;
  padding: 5vw;
  border: none;
  border-radius: 10px;
  width: 600px;
}
.row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: #c7d2fe;
  color: #7c3aed;
}
.letter {
  font-size: 36px;
}

.profile-name {
  font-size: 24px;
  font-weight: 600;
}
.row-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.button-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
